@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body {
    /* background-color: #eee; */
    /* font-family: 'Manrope', sans-serif */
}

.news-card {
    border-radius: 8px
border-style: groove;
}

.news-feed-image {
    border-radius: 8px;
    width: 400px;
    height:200px
}

.date {
    font-size: 12px
}
.news-feed-title{
    font-size:40px;
}
.news-feed-text{
    font-size:20px;
    margin-top:10px;
}




